@import './variables.css';

button.btn-primary,
.btn.btn-primary {
  background: var(--color-primary-light);
  border: 2px solid var(--color-primary-light);
  color: #111;
}
button.btn-outline,
.btn.btn-outline {
  color: var(--color-primary-light);
  border: 2px solid var(--color-primary-light);
  background: transparent;
}

.btn-primary:hover {
  opacity: 0.82;
}

.btn-outline:hover {
  background: var(--color-primary-light);
  color: var(--color-dark);
}

input {
  border: 2px solid var(--color-primary-light);
}

.background {
  background: var(--color-dark);
  color: var(--color-light);
}

.text-primary {
  color: var(--color-primary-light);
}
